    body {
    background-color: #cccccc;
    background-image: linear-gradient(230deg, #FFEDE4, #FAFFDE, #D5D0D6, #FFEDE4);
    height: 100%;
    color: #3a333b;
    font-family: Playfair Display;
}

/* 
*
About me 
*
*/

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 70px;
    padding-top: 30px;
    color: #474049;
    font-weight: lighter;

}
.stalker {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    color: #764046;
    font-weight: lighter;
}




/*
*
*
Pictures
*
*
*/

figure {
      display: flex;
      flex-flow: row nowrap;
    padding-top: 80px;
    justify-content: center;
}
.img2{
    max-width: 20%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    opacity: 70%;
    
}
.img1 {
    opacity: 60%;
    height: auto;
    margin: 1%;
    max-width: 60%;
    height: auto;
  }


/*
*
*
Lists
*
*
*/

h3 {
    align-self: center;
    font-size: 20px;
}

.lists {
    display: flex;
    margin-top: 120px;
}
.listed1 {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 0;
    flex-grow: 1;
}
.listed2 {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 0;
    flex-grow: 1;
}
.listed3
{
    display: flex;
   flex-flow: column wrap;
   flex-basis: 0;
   flex-grow: 1;

}
.listelement {
    list-style-type: square;
}





/*
*
*
message
*
*
*/
.message {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.lovemessage:hover {
    color: rgb(255, 131, 131);
}
textarea {
    width: 200px;
    height: 100px;
    background-color: rgb(255, 236, 239);
    border: dotted;
    border-color: rgb(214, 214, 252);
}
button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: dotted;
    border-color: rgb(214, 214, 252) ;
    background-color: rgb(255, 236, 239);
    font-size: 13px;
}
span {
    display: flex;
    justify-content: center;
}
.genderchoice {
    display: flex;
    justify-content: center;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gender {
    display: flex;
    justify-content: center;
}


/*
*
*
Social media
*
*/
nav {
    display: flex;
    justify-content: space-around;
}


/*
*
*
Footer
*
*/


footer {
    margin-right: 30px;
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
    margin-bottom: 10px;
}
footer:hover{
    font-size: 20px;
    font-family: fantasy;
    color: lightsalmon;
}
a{
    color: lightsalmon;
}
a:hover {
    color: rgb(235, 184, 90);
    font-size: 20px;
}



/* 
*
*
rolling ballas
*
*
*/



.circle {
    position: absolute;
    background: burlywood;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 40px;
    opacity: 40%;
    transition: ease-in-out;
    animation: drive4 20s infinite;
  }
    @keyframes drive4
    {0% {right: 0px;}
      50% {right: 1100px;}
      100% {right: 0px;}}
      
  .circle1 {
  position: absolute;
  background:burlywood;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-top: 40px;
  opacity: 60%;
  transition: ease-in-out;
  animation: drive5 20s infinite;
}
  @keyframes drive5
  { 0% {right: 500px;}
    50% {right: 1100px;}
    100% {right: 500px;} }

  .circle2 {
    position: absolute;
    background: burlywood;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 40px;
    opacity: 80%;
    transition: ease-in-out;
    animation: drive6 20s infinite;
  }
  @keyframes drive6
  {0% {right: 1000px;}
    50% {right: 1100px;}
    100% {right: 1000px;}}

    .ball {
        position: absolute;
        background: burlywood;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        opacity: 40%;
        transition: ease-in-out;
        animation: drive1 20s infinite;}
    
        @keyframes drive1
        {0% {left: 0px;}
          50% {left: 1100px;}
          100% {left: 0px;} }
    
    
      .balltwo {
      position: absolute;
      background: burlywood;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      opacity: 60%;
      transition: ease-in-out;
      animation: drive2 20s infinite;}
    
      @keyframes drive2 
      {0% {left: 500px;}
        50% {left: 1100px;}
        100% {left: 500px;} }
      
    
      .ballthree {
        position: absolute;
        background: burlywood;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        opacity: 80%;
        transition: ease-in-out;
        animation: drive3 20s infinite;
      }
      @keyframes drive3 
      {0% {left: 1000px;}
        50% {left: 1100px;}
        100% {left: 1000px;}
      }
    

     /* @media screen and (max-width: 770px) {
        .img2, .balltwo, .ballthree, .circle1, .circle2 {
            display: none;}
         nav {
             font-size: 24px;
             justify-content: space-around;}
        .stalker {
            font-size: 36px;
            text-align: center;
            }
        @keyframes drive4{
            0% {right: 0px;}
            50% {right: 400px;}
            100% {right: 0px;}}
        @keyframes drive1 {
            0% {left: 0px;}
            50% {left: 400px;}
            100% {left: 0px;} }
        h3 {
            font-size: 36px;
            text-align: center;}
        .lists {
                display: flex;
                flex-direction: column;
            line-height: 2em;
            color: black;}

        li, .message, .genderchoice, .gender { 
            color:black;
            font-size: 24px;}
        .lovemessage {
            text-align: center;
        }
        footer {
            color: black;
            text-align: center;
            font-size: 22px;}

        }*/
    
        @media screen and (max-width: 1100px) {
            .img2, .balltwo, .ballthree, .circle1, .circle2 {
                display: none;}
            nav{justify-content: space-around;}
            header {  
                font-size: 60px;  }
            .stalker {
                    font-size: 36px;
                    text-align: center;}
            
                    @keyframes drive4{
                    0% {right: 0px;}
                    50% {right: 500px;}
                    100% {right: 0px;}}
        
            @keyframes drive1 {
                    0% {left: 0px;}
                    50% {left: 500px;}
                    100% {left: 0px;} }
            h3 {
                font-size: 36px;}

            .lists {color: black;
                    display: flex;
                    flex-direction: column;
                }


            li, .message, .genderchoice, .gender { 
            color:black;
            font-size: 24px;}
        .lovemessage {
            text-align: center;
        }
        footer {
            color: black;
            text-align: center;
            font-size: 22px;}

        }
             






















