    body {
    background-color: #cccccc;
    background-image: linear-gradient(230deg, #FFEDE4, #FAFFDE, #D5D0D6, #FFEDE4);
    height: 100%;
    color: #3a333b;
    font-family: Playfair Display;
}

/* 
*
About me 
*
*/

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 70px;
    padding-top: 30px;
    color: #474049;
    font-weight: lighter;

}
.stalker {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    color: #764046;
    font-weight: lighter;
}




/*
*
*
Pictures
*
*
*/

.img1 {
    opacity: 60%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 70px;
}

/*
*
*
Lists
*
*
*/

h3 {
    text-align: center;
    font-size: 20px;
}

.lists {
    display: flex;
    margin-top: 120px;
}
.listed1 {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 0;
    flex-grow: 1;
}
.listed2 {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 0;
    flex-grow: 1;
}
.listed3
{
    display: flex;
   flex-flow: column wrap;
   flex-basis: 0;
   flex-grow: 1;

}
.listelement {
    list-style-type: square;
}





/*
*
*
message
*
*
*/
.message {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.lovemessage:hover {
    color: rgb(255, 131, 131);
}
textarea {
    width: 200px;
    height: 100px;
    background-color: rgb(255, 236, 239);
    border: dotted;
    border-color: rgb(214, 214, 252);
}
button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: dotted;
    border-color: rgb(214, 214, 252) ;
    background-color: rgb(255, 236, 239);
    font-size: 13px;
}
span {
    display: flex;
    justify-content: center;
}
.genderchoice {
    display: flex;
    justify-content: center;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gender {
    display: flex;
    justify-content: center;
}


/*
*
*
Social media
*
*/
nav {
    display: flex;
    justify-content: space-around;
}


/*
*
*
Footer
*
*/


footer {
    margin-right: 30px;
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
    margin-bottom: 10px;
}
footer:hover{
    font-size: 20px;
    font-family: fantasy;
    color: lightsalmon;
}
a{
    color: lightsalmon;
}
a:hover {
    color: rgb(235, 184, 90);
    font-size: 20px;
}



/* 
*
*
rolling ballas
*
*
*/


/*
.circle {
    position: absolute;
    background: burlywood;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 40px;
    opacity: 40%;
    transition: ease-in-out;
    animation: drive4 20s infinite;
  }
    @keyframes drive4
    {0% {right: 0px;}
      50% {right: 700px;}
      100% {right: 0px;}}
      
  .circle1 {
  position: absolute;
  background:burlywood;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-top: 40px;
  opacity: 60%;
  transition: ease-in-out;
  animation: drive5 20s infinite;
}
  @keyframes drive5
  { 0% {right: 500px;}
    50% {right: 700px;}
    100% {right: 500px;} }

  .circle2 {
    position: absolute;
    background: burlywood;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 40px;
    opacity: 80%;
    transition: ease-in-out;
    animation: drive6 20s infinite;
  }
  @keyframes drive6
  {0% {right: 700px;}
    50% {right: 700px;}
    100% {right: 700px;}}
*/
    .ball {
        position: absolute;
        background: burlywood;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        opacity: 40%;
        transition: ease-in-out;
        animation: drive1 20s infinite;}
    
        @keyframes drive1
        {0% {left: 1%;}
          50% {left: 50%;}
          100% {left: 1%;} }
    
    
      .balltwo {
      position: absolute;
      background: burlywood;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      opacity: 60%;
      transition: ease-in-out;
      animation: drive2 20s infinite;}
    
      @keyframes drive2 
      {0% {left: 33%;}
        50% {left: 95%;}
        100% {left: 33%;} }
      
  
 @media screen and (max-width: 370px) {
     .img1 {display: none;}
    .stalker {
        font-size: 24px; 
        text-align: center;}
    .lists{ 
        flex-direction: column;
        color: black;}
    h3{ font-size: 36px;}    
    li { font-size: 20px;}

    .message, span, form, .genderchoice, .gender, footer {
        color: black;
        text-align: center;}    

 }


















