    body {
    background-color: #cccccc;
    background-image: linear-gradient(230deg, #FFEDE4, #FAFFDE, #D5D0D6, #FFEDE4);
    /*height: 100vh;*/
    color: #3a333b;
    font-family: Playfair Display;
}



.ulnavbar {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 1em;
    justify-content: space-evenly;
    background-image: linear-gradient(90deg, rgba(128, 0, 128, 0.486), rgba(255, 255, 0, 0.445), rgba(255, 192, 203, 0.5), rgba(0, 217, 255, 0.39), rgba(2, 228, 2, 0.425));
    

}
.navbar{
    font-size: 24px;
    color: rgb(250, 127, 26);

}
.navbar:hover {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}








/* 
*
About me 
*
*/

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 70px;
    padding-top: 30px;
    color: #474049;
    font-weight: lighter;

}
.stalker {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    color: #764046;
    font-weight: lighter;
}




/*
*
*
Pictures
*
*
*/

.img1 {
    opacity: 60%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 70px;
}

/*
*
*
Lists
*
*
*/

h3 {
    text-align: center;
    font-size: 20px;
}

.lists {
    display: flex;
    margin-top: 120px;
}
.listed1 {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 0;
    flex-grow: 1;
}
.listed2 {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 0;
    flex-grow: 1;
}
.listed3
{
    display: flex;
   flex-flow: column wrap;
   flex-basis: 0;
   flex-grow: 1;

}




/*
*
*
message
*
*
*/
.message {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.lovemessage:hover {
    color: rgb(255, 131, 131);
}
textarea {
    width: 200px;
    height: 100px;
    background-color: rgb(255, 236, 239);
    border: dotted;
    border-color: rgb(214, 214, 252);
}
button {
    width: auto;
    height: auto;
    border-radius: 50%;
    border: dotted;
    border-color: rgb(214, 214, 252) ;
    background-color: rgb(255, 236, 239);
    font-size: 10px;
    padding: 10px;}

span {
    display: flex;
    justify-content: center;
}
.genderchoice {
    display: flex;
    justify-content: center;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gender {
    display: flex;
    justify-content: center;
}


/*
*
*
Social media
*
*/
.socialmedia {
    display: flex;
    justify-content: space-around;
    color: lightsalmon;
    font-size: 20px;
}


/*
*
*
Footer
*
*/


footer {
    margin-right: 30px;
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
    margin-bottom: 10px;
}




/* 
*
*
rolling ballas
*
*
*/


.ball {
    margin-top: 100px;
    position: absolute;
    background: burlywood;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    opacity: 40%;
    transition: ease-in-out;
    animation: drive1 20s infinite;}
    @keyframes drive1
        {0% {left: 10%;}
        50% {left: 50%;}
        100% {left: 10%;} }
     
.balltwo {
    margin-top: 100px;
    position: absolute;
    background: burlywood;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    opacity: 60%;
    transition: ease-in-out;
    animation: drive2 20s infinite;}
    @keyframes drive2 
        {0% {left: 33%;}
        50% {left: 95%;}
        100% {left: 33%;} }
.circle {
    position: absolute;
    background: burlywood;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 40px;
    opacity: 40%;
    transition: ease-in-out;
    animation: drive4 20s infinite;}
    @keyframes drive4
        {0% {right: 10%;}
        50% {right: 50%;}
        100% {right: 10%;}  }      
.circle1 {
    position: absolute;
    background:burlywood;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 40px;
    opacity: 60%;
    transition: ease-in-out;
    animation: drive5 20s infinite; }
    @keyframes drive5
        {0% {right: 33%;}
        50% {right: 95%;}
        100% {right: 33%;} }
          



 @media screen and (max-width: 770px) {
  
    .img1 {display: none;}
  
  
    .stalker {
        font-size: 24px; 
        text-align: center;}
  
    .lists {
        display: block;}
    
        h3{ font-size: 36px;}    


    li { font-size: 20px;}


    .message, span, form, .genderchoice, .gender, footer {
        font-size: 20px;
        color: black;
        text-align: center;}    

 }


















